<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#searchBtn").on("click", function (e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page) {
            var searchDateType = $("#searchDateType").val();
            var searchOrderStatus = $("#searchOrderStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href = "/admin/ordersChk/" + page + "?searchDateType=" + searchDateType
                + "&searchOrderStatus=" + searchOrderStatus
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .content-mg {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 2%;
            margin-bottom: 100px;
        }

        .repImgDiv {
            margin-right: 15px;
            margin-left: 15px;
            height: auto;
        }

        .repImg {
            height: 100px;
            width: 100px;
        }

        .card {
            width: 750px;
            height: 100%;
            padding: 30px;
            margin-bottom: 20px;
        }

        .fs18 {
            font-size: 18px
        }

        .fs24 {
            font-size: 24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">
    <h2 class="mb-4">
        주문 내역
    </h2>


    <form th:action="@{'/admin/ordersChk/' + ${orders.number}}" role="form" method="get" th:object="${orders}">
        <div th:each="order : ${orders.getContent()}">
            <div class="d-flex mb-3 align-self-center">
                <h4 th:text="${order.orderDate} + ' 주문'"></h4>

                <div class="ml-3">
                    <h4 th:text="${order.createdBy}"></h4><span>님의 주문</span>
                </div>
            </div>
            <div class="card d-flex">
                <div th:each="orderBurger : ${order.orderBurgerDtoList}" class="d-flex mb-3">
                    <div class="repImgDiv">
                        <img th:src="${orderBurger.imgUrl}" class="rounded repImg" th:alt="${orderBurger.burgerName}">
                    </div>
                    <div class="align-self-center w-75">
                        <span th:text="${orderBurger.burgerName}" class="fs24 font-weight-bold"></span>
                        <div class="fs18 font-weight-light">
                            <span th:text="${orderBurger.orderPrice} +'원'"></span>
                            <span th:text="${orderBurger.count} +'개'"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">
                    <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${orders.number eq page-1}?'active':''">
                    <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
                    <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>

</div>

</html>