<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<th:block layout:fragment="css">

</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {

            calculateTotalPrice();

            $("#count").change(function () {
                calculateTotalPrice();
            });
        });

        function calculateTotalPrice() {
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price * count;
            $("#totalPrice").html(totalPrice + '원');
        }

        $(function () {
            $('#apibtn').click(function () {

                let partner_user_id = $('#userId').val();
                let burgerId = $('#burgerId').val();
                let item_name = $('#burger_name').val();
                let quantity = $('#count').val();
                let total_amount = $('#totalPrice').val();
                let approval_url = 'http://localhost:8080/payChk/' + burgerId + '/' + quantity;


                $.ajax({
                    data: {
                        partner_user_id: partner_user_id,
                        item_name: item_name,
                        quantity: quantity,
                        total_amount: total_amount,
                        approval_url: approval_url
                    },
                    url: '/jq/kakaopayment',
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'JSON',
                    // beforeSend: function (xhr) {
                    //     /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    //     xhr.setRequestHeader(header, token);
                    // },
                    success: function (result) {
                        var box = result.next_redirect_pc_url;
                        window.open(box);
                        console.log(approval_url);
                    }, error: function (error, request, stauts) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log(error);
                    }
                })
            })
        })
    </script>
</th:block>

<div layout:fragment="content">
    <h2>주문하기</h2>
    <form>
        <h3>주문자 정보</h3>
        <span>주소</span>
        <input type="text" th:value="${#authentication.principal.address}" readonly>
        <input type="text" th:value="${#authentication.principal.detailAddress}" readonly>
        <input type="text" id="burger_name" th:value="${burger.burgerName}">
        <input type="text" id="burgerId" name="bugerId" th:value="${burger.id}">
        <input type="hidden" th:value="${burger.price}" id="price" name="price">
        <span th:text="${burger.price}" hidden></span>원
        <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
        <input type="text" id="memberEmail" name="memberEmail" th:value="${#authentication.principal.email}">
        <input type="text" id="memberName" name="memberName" th:value="${#authentication.principal.name}">
        <input type="number" name="count" id="count" class="form-control" th:value="${count}">
        <input id="userId" th:value="${principal.username}">
    </form>
    <button type="button" class="btn btn-light border border-primary btn-lg"
            id="apibtn">장바구니 담기
    </button>

</div>

</html>