<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainLayout}"
>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/mainPage.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <style type="text/css" th:href="@{/css/mainPage.css}"></style>
</th:block>


<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="/img/test1.jpg"
                     alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="/img/test2.jpg"
                     alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="/img/test3.jpg"
                     alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <input type="hidden" name="searchQuery" th:value="${burgerSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(burgerSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${burgerSearchDto.searchQuery} + ' 검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="burger, status: ${burgers.getContent()}">
            <div class="col-md-4 margin">
                <th:block th:if="${principal == 0 }">
                    <div class="card">
                        <a th:href="'/burger/' + ${burger.id}" class="text-dark">
                            <img th:src="${burger.imgUrl}" class="card-img-top" th:alt="${burger.burgerName}"
                                 height="300">
                            <div class="card-body">
                                <h4 class="card-title">[[${burger.burgerName}]]</h4>
                                <p class="card-text">[[${burger.burgerExplanation }]]</p>
                                <h3 class="card-title text-danger">[[${burger.price}]]원</h3>
                            </div>
                        </a>
                    </div>
                </th:block>
                <th:block th:if="!${principal == 0}">
                    <th:block th:switch="${principal.zipcode}">
                        <div class="card" th:case="1">
                            <a href="/user/update" class="text-dark">
                                <img th:src="${burger.imgUrl}" class="card-img-top" th:alt="${burger.burgerName}"
                                     height="300">
                                <div class="card-body">
                                    <h4 class="card-title">[[${burger.burgerName}]]</h4>
                                    <p class="card-text">[[${burger.burgerExplanation }]]</p>
                                    <h3 class="card-title text-danger">[[${burger.price}]]원</h3>
                                </div>
                            </a>
                        </div>
                        <div class="card" th:case="*">
                            <a th:href="'/burger/' + ${burger.id}" class="text-dark">
                                <img th:src="${burger.imgUrl}" class="card-img-top" th:alt="${burger.burgerName}"
                                     height="300">
                                <div class="card-body">
                                    <h4 class="card-title">[[${burger.burgerName}]]</h4>
                                    <p class="card-text">[[${burger.burgerExplanation }]]</p>
                                    <h3 class="card-title text-danger">[[${burger.price}]]원</h3>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </th:block>
    </div>
</div>

<div th:with="start=${(burgers.number/maxPage)*maxPage + 1}, end=(${(burgers.totalPages == 0) ? 1 : (start + (maxPage - 1) < burgers.totalPages ? start + (maxPage - 1) : burgers.totalPages)})">
    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${burgers.number eq 0}?'disabled':''">
            <a th:href="@{'/' + '?searchQuery=' + ${burgerSearchDto.searchQuery} + '&page=' + ${burgers.number-1}}"
               aria-label='Previous' class="page-link">
                <span aria-hidden='true'>Previous</span>
            </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
            th:classappend="${burgers.number eq page-1}?'active':''">
            <a th:href="@{'/' +'?searchQuery=' + ${burgerSearchDto.searchQuery} + '&page=' + ${page-1}}"
               th:inline="text" class="page-link">[[${page}]]</a>
        </li>

        <li class="page-item" th:classappend="${burgers.number+1 ge burgers.totalPages}?'disabled':''">
            <a th:href="@{'/' +'?searchQuery=' + ${burgerSearchDto.searchQuery} + '&page=' + ${burgers.number+1}}"
               aria-label='Next' class="page-link">
                <span aria-hidden='true'>Next</span>
            </a>
        </li>

    </ul>
</div>

</div>
</html>