<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/burgers/" + page + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/admin/burgers/' + ${burgers.number}}" role="form" method="get" th:object="${burgers}">
        <table class="table">
            <thead>
            <tr>
                <td>상품아이디</td>
                <td>상품명</td>
                <td>상태</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="burger, status: ${burgers.getContent()}">
                <td th:text="${burger.id}"></td>
                <td>
                    <a th:href="'/admin/burger/'+${burger.id}" th:text="${burger.burgerName}"></a>
                </td>
                <td th:text="${burger.burgerSellStatus == T(com.nappy.burger.domain.burger.BurgerSellStatus).SELL} ? '판매중' : '품절'"></td>
                <td th:text="${burger.createdBy}"></td>
                <td th:text="${burger.regTime}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(burgers.number/maxPage)*maxPage + 1},
     end=(${(burgers.totalPages == 0) ? 1 : (start + (maxPage - 1) < burgers.totalPages ? start + (maxPage - 1) : burgers.totalPages)})" >

            <ul class="pagination justify-content-center">
                <!--Previous 이전 버튼-->
                <li class="page-item" th:classappend="${burgers.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${burgers.number - 1} + ')'" aria-label='Previous' class="page-link" style="cursor : pointer;">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>
                <!--페이지 요소들-->
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${bugers.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link" style="cursor : pointer;">[[${page}]]</a>
                </li>
                <!--Next 다음 버튼-->
                <li class="page-item" th:classappend="${burgers.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${burgers.number + 1} + ')'" aria-label='Next' class="page-link" style="cursor : pointer;">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${burgerSearchDto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
                <option value="">판매상태(전체)</option>
                <option value="SELL">판매</option>
                <option value="SOLD_OUT">품절</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="itemName">상품명</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

</div>


</html>